<div>
  <h1 class="display-6 mb-1">
    {{podatki['geslo_slo']}}
  </h1>
  <hr>
  <div class="row mb-3">
      <div class="col-2">
        <strong>definicija</strong>
      </div>
      <div class="col-6">
        {{podatki['definicija_slo']}} 
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-2">
        <strong>angleški prevod</strong>
      </div>
      <div class="col-6">
        {{podatki['geslo_ang']}} 
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-2">
        <strong>angleška definicija</strong>
      </div>
      <div class="col-6">
        {{podatki['definicija_ang']}} 
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-2">
        <strong>oznaka</strong>
      </div>
      <div class="col-6">
        {{podatki['oznaka']}} 
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-2">
        <strong>formula</strong>
      </div>
      <div class="col-6">
            <div class="d-flex justify-content-start">
                <p class="text-start">
        $$
        {{podatki['formula']}} 
        $$
                </p>
            </div>
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-2">
        <strong>enota</strong>
      </div>
      <div class="col-6">
        {{podatki['enota']}} 
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-2">
        <strong>opombe</strong>
      </div>
      <div class="col-6">
        {{podatki['opombe']}} 
      </div>
  </div>
</div>
